### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*/*/buildinfo.properties

.gradle/
gralle/
work/
out/
/datahub

### NetBeans ###
nbproject/private/
build/
logs/
nbbuild/
dist/
nbdist/
.nb-gradle/

*/*/.DS_Store

/target
/project/project
/project/target